.cell {
    width: 80px;
    height: 80px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 80px;
    font-size: 50px;
    cursor: pointer;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#gameBoard {
    font-family: "monospace";
    text-align: center;
}

#playerXInput,
#playerOInput {
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

#playerXInput:focus,
#playerOInput:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
}